a {
	color: #3943c6;
}
a:focus,
a:hover {
	color: #2e359e;
	outline: 0;
}

.font-teschool {
	font-size: 32px;
}

.font-logo {
	font-family: "Open sans", sans-serif;
}

.font-judul{
	font-family: "Fira Sans Semi-Bold", sans-serif;
}

.background-biru {
	background-image: -moz-linear-gradient( 32deg, #2497f5 0%, #155BBD 100%);
  background-image: -webkit-linear-gradient( 32deg, #2497f5 0%, #155BBD 100%);
	background-image: -ms-linear-gradient( 32deg, #2497f5 0%, #155BBD 100%);
}
.teks {
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.search-box {
	background: -webkit-linear-gradient(45deg, #333 0%, #3943c6 100%););
	background: -moz-linear-gradient(270deg, #7c32ff 0%, #c738d8 100%);
	background: -o-linear-gradient(270deg, #7c32ff 0%, #c738d8 100%);
	background: -ms-linear-gradient(270deg, #7c32ff 0%, #c738d8 100%);
	background: linear-gradient(270deg, #7c32ff 0%, #c738d8 100%);
	
	position: fixed;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
  width: 100%;
  max-width: 1200px;
  z-index: 999;
  text-align: center;
  padding: 5px 20px; }
  @media (max-width: 991px) {
    .search-box {
      margin-top: -30px; } }
  .search-box .form-control {
    background: transparent;
    border: 0;
    color: #ffffff;
    font-weight: 400;
    font-size: 15px;
    padding: 0; }
    .search-box .form-control:focus {
      box-shadow: none;
      outline: none; }
  .search-box input.placeholder {
    color: #ffffff;
    font-size: 14px; }
  .search-box input:-moz-placeholder {
    color: #ffffff;
    font-size: 14px; }
  .search-box input::-moz-placeholder {
    color: #ffffff;
    font-size: 14px; }
  .search-box input::-webkit-input-placeholder {
    color: #ffffff;
    font-size: 14px; }
  .search-box .btn {
    width: 0;
    height: 0;
    padding: 0;
    border: 0; }
  .search-box .lnr-cross {
    color: #fff;
    font-weight: 600;
    cursor: pointer;
    padding: 10px 3px;
}
/*navigation==========================================*/
.navigation-bar {
	overflow: hidden;
  background: url(../img/kursus/navigation-background.png) no-repeat center;
	background-color: black;
	width: 100%;
	height: 100%;
}

.navigation-brand {
	margin-left: 120px;
}
.navigation-brand a {
	float: left;
  font-size: 16px;
  color: white;
  text-align: center;
	padding: 14px 16px;
	padding-right: 0px;
	text-decoration: none;
}
.navigation-brand .text {
	padding: 25px 0px;
}

.navigation-nav {
	float: right;
	text-align: center;
	text-decoration: none;
	margin-right: 50px;
}

.navigation-nav a {
  float: left;
  font-size: 16px;
	color: white;
	padding: 28px 16px;
  text-align: center;
  text-decoration: none;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 16px;  
  border: none;
  outline: none;
  color: white;
  padding: 28px 16px;
  background-color: inherit;
  font-family: inherit;
}

.navigation-bar .navigation-nav a:hover, .dropdown:hover .dropbtn {
  background-color: #000099;
}

.dropdown-content {
  display: none;
	position: fixed;
	margin-top: 75px;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.navigation-search {
	margin-top: 2px;
}

.navigation-search-box {
	background: -webkit-linear-gradient(45deg, #1a1a1a 0%, #2e359e 100%);
	background: -moz-linear-gradient(45deg, #1a1a1a 0%, #2e359e 100%);
  background: -o-linear-gradient(45deg, #1a1a1a 0%, #2e359e 100%);
  background: -ms-linear-gradient(45deg, #1a1a1a 0%, #2e359e 100%);
  background: linear-gradient(45deg, #1a1a1a 0%, #2e359e 100%);
}

#navigation-search-input-box {
  position: fixed;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
  width: 100%;
  max-width: 1200px;
  z-index: 999;
  text-align: center;
  padding: 5px 20px; }
  @media (max-width: 991px) {
    #navigation-search-input-box {
      margin-top: -30px; } }
  #navigation-search-input-box .form-control {
    background: transparent;
    border: 0;
    color: #ffffff;
    font-weight: 400;
    font-size: 15px;
    padding: 0; }
    #navigation-search-input-box .form-control:focus {
      box-shadow: none;
      outline: none; }
  #navigation-search-input-box input.placeholder {
    color: #ffffff;
    font-size: 14px; }
  #navigation-search-input-box input:-moz-placeholder {
    color: #ffffff;
    font-size: 14px; }
  #navigation-search-input-box input::-moz-placeholder {
    color: #ffffff;
    font-size: 14px; }
  #navigation-search-input-box input::-webkit-input-placeholder {
    color: #ffffff;
    font-size: 14px; }
  #navigation-search-input-box .btn {
    width: 0;
    height: 0;
    padding: 0;
    border: 0; }
  #navigation-search-input-box .lnr-cross {
    color: #fff;
    font-weight: 600;
    cursor: pointer;
		padding: 10px 3px; }
		
.logo {
	height: 50px;
}

/*Banner==========================================*/
.banner-dashboard {
	#margin-top: 50px;
}

.dashboard-banner-left {
    text-align: left;
	margin-right: 500px; }
.dashboard-banner-left h1 {
  color: #222;
  font-size: 48px; }
  .dashboard-banner-left h1 span {
    font-weight: 900; }
  @media (max-width: 768px) {
    .dashboard-banner-left h1 {
      font-size: 36px; } }
  @media (max-width: 767px) {
    .dashboard-banner-left h1 br {
      display: none; } }
  @media (max-width: 991px) {
    .dashboard-banner-left h1 {
      font-size: 45px; } }
  @media (max-width: 414px) {
    .dashboard-banner-left h1 {
      font-size: 40px; } }
  @media (max-width: 800px) {
    .dashboard-banner-left {
	  margin-top: 30px; } }



.banner {
	background-size: cover;
	background-color: #f2f2f2;
	min-height: 100vh;
}
	
.banner-left {
	text-align: left;
	min-height: 80%;
	min-width: 400px;
	position: absolute;
	left: 0px;
}

.banner-left .title {
	padding-left: 20px;
}

.banner-left .select-bar {
	max-width: 400px;
}

table.pagination {
	float: right;
	padding-bottom: 20px;
}

table.pagination tr {
	float: left;
	width: 350px;
	padding-left: 20px;
}

.banner-left h4 {
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	padding-bottom: 15px;
}

.banner-left tr {
	color: black;
	font-size: 18px;
}

.banner-left tr:hover {
	background-color: #f2f2f2;
}

.banner-left td {
	padding: 12px;
}
	
/*Popular Course==========================================*/
.popular-background {
	background: url(../img/kursus/kursus-background.png) no-repeat center;
	background-size: cover;
	background-color: #f2f2f2;
	min-height: 100vh;
}
	
.popular-carousel {
	margin-left: 200px;
}

.title-position {
	padding-bottom: 10px
}

	
	
	
	
/* Halaman Login */





.login-area {
	background: url(../img/kursus/login-background.jpg) no-repeat center;
	background-size: cover;
	height: 100vh;
}
@media (max-width: 991px) {
    .login-area {
      #padding: 60px 0px; } }

.login-section {
	box-shadow: 0px 0px 50px rgba(0, 0, 0, 1);
	background: rgba(255, 255, 255, 0.3);
	border-radius: 5px;
	#margin-right: -120px;
	margin-left: 30%;
	min-width: 350px;
}
@media (max-width: 991px) {
    .login-section {
		margin-right: 20px;
		margin-left: 10px; } }

.login-title {
	font-size: 48px;
	font-weight: bold;
	background: -webkit-linear-gradient(45deg, #333 0%, #3943c6 100%);
	  -webkit-background-clip: text;
	  -webkit-text-fill-color: transparent;
	#color: #3943c6;
	padding-bottom: 15px;
	padding-top: 10px;
}

.login-welcome {
	color: black;
}

.login-area .login-section .login-btn {
	font-size: 12px;
	color: #fff;
	line-height: 50px;
	#padding: 0 104px;
	min-width: 100%;
	border: 0px;
	font-weight: 700;
	margin-top: 20px;
	border-radius: 5px;
	background: -webkit-linear-gradient(45deg, #333 0%, #3943c6 100%);
}
.login-area .login-section .login-btn:hover {
	background: -webkit-linear-gradient(45deg, #1a1a1a 0%, #2e359e 100%);
	cursor: pointer;
}





/* Halaman Signup */





.signup-area {
	background: url(../img/kursus/signup-background.jpg) no-repeat center;
	background-size: cover;
	height: 100vh;
}

@media (max-width: 991px) {
    .signup-area {
      #padding: 60px 0px; } }

.signup-section {
	box-shadow: 0px 0px 50px rgba(0, 0, 0, 1);
	background: rgba(255, 255, 255, 0.3);
	border-radius: 5px;
	margin-top: -75px;
	#margin-right: -120px;
	margin-left: 15%;
	min-width: 450px;
	max-height: 620px;
}
@media (max-width: 991px) {
    .signup-section {
		margin-right: 15%;
		margin-left: 15%; } }

.signup-title {
	font-size: 40px;
	font-weight: bold;
	padding-top: 15px;
	margin-top: -60px;
}
.signup-title .te {
	color: #696969;
	margin-right: -14px;
}

.signup-title .school {
	background: -webkit-linear-gradient(45deg, #333 0%, #3943c6 100%);
	  -webkit-background-clip: text;
	  -webkit-text-fill-color: transparent;
}

.signup-logo {
	width:175px;
	height:175px
}

.signup-welcome {
	color: black;
}

.signup-area .signup-section .signup-btn {
	font-size: 12px;
	color: #fff;
	line-height: 50px;
	#padding: 0 104px;
	min-width: 100%;
	border: 0px;
	font-weight: 700;
	margin-top: 20px;
	border-radius: 5px;
	background: -webkit-linear-gradient(45deg, #333 0%, #3943c6 100%);
}
.signup-area .signup-section .signup-btn:hover {
	background: -webkit-linear-gradient(45deg, #1a1a1a 0%, #2e359e 100%);
	cursor: pointer;
}

.signup-form {
	background: rgba(0, 0, 0, 0.1);
	border-radius: 18px;
	border: 0;
	padding: 20px;
	font-size: 13px;
	border-radius: 0px;
}

.signup-form input.placeholder{
	color: rgba(255, 255, 255, 0.4);
    text-transform: uppercase;
}




/* Halaman Course-detail */




.course-detail-area {
	background: url(../img/kursus/course-detail-background.png) no-repeat center;
	background-size: cover;
	height: 100vh;
}

.course-detail-navigation {
	font-size: 20px;
	font-family: "Fira Sans", sans-serif;
	line-height: 1.2;
	height: 40px;
}

.course-detail-text {
	padding-top: 6%;
}

.course-detail-banner-left {
  text-align: left;
	min-width: 800px;
}
.course-detail-banner-left h1 {
  color: #222;
  font-size: 48px;}
  .course-detail-banner-left h1 span {
    font-weight: 900; }
  @media (max-width: 768px) {
    .course-detail-banner-left h1 {
      font-size: 36px; } }
  @media (max-width: 767px) {
    .course-detail-banner-left h1 br {
      display: none; } }
  @media (max-width: 991px) {
    .course-detail-banner-left h1 {
      font-size: 45px; } }
  @media (max-width: 414px) {
    .course-detail-banner-left h1 {
      font-size: 40px; } }
  @media (max-width: 800px) {
    .course-detail-banner-left {
	  margin-top: 30px; } }

.course-detail-judul {
	font-size: 40px;
	font-family: "Fira Sans Semi-Bold", sans-serif;
	word-wrap: break-word;
	font-weight: Bold;
	line-height: 1.2;
	text-align: left;
	width: 620px;
}

.course-detail-desc {
	text-align: left;
	width: 620px;
	height: 170px;
}

.course-detail-rating {
	display: inline-block;
	font-family: "Open Sans", sans-serif;
	word-wrap: break-word;
	width: 250px;
}

.course-detail-kotak {
	background: url(../img/kursus/course-detail-kotak.png) no-repeat center;
	background-size: 520px 635px;
	position: fixed;
	right: 50px;
	top: 120px;
	width: 520px;
	height: 635px;
}

.course-detail-kotak .konten {
	position: absolute;
	left: 5px; 
	top: 20px;
	text-align: center;
}

.course-detail-kotak .harga {
	font-size: 50px;
	font-family: "Open Sans", sans-serif;
	font-weight: Bold;
	text-align: left;
	padding-bottom: 10px;
	margin-left: 20px;
}

.course-detail-kotak .tombol {
	border-radius: 8px;
	border: 0px;
	width: 450px;
	height: 50px;
	text-align:center;
	cursor: pointer;
	margin: 5px 0px;
}

.course-detail-kotak .tombol-beli {}
.course-detail-kotak .tombol-beli:hover {
	background-image: -moz-linear-gradient( 32deg,#0a7ddb 0%, #0f428a 100%);
	background-image: -webkit-linear-gradient( 32deg, #0a7ddb 0%, #0f428a 100%);
  background-image: -ms-linear-gradient( 32deg, #0a7ddb 0%, #0f428a 100%);
}
.course-detail-kotak .tombol-beli:active {
	background-image: -moz-linear-gradient( 32deg,#0861aa 0%, #0a2c5c 100%);
	background-image: -webkit-linear-gradient( 32deg, #0861aa 0%, #0a2c5c 100%);
  background-image: -ms-linear-gradient( 32deg, #0861aa 0%, #0a2c5c 100%);
}

.course-detail-kotak .tombol-teks {
	font-size: 20px;
	font-family: "Fira Sans", sans-serif;
	font-weight: 500;
	margin:auto;
}

.course-detail-kotak .tombol-keranjang {
  background-color: #ffffff;
}
.course-detail-kotak .tombol-keranjang:hover {
	background-color: #e6e6e6;
}
.course-detail-kotak .tombol-keranjang:active {
	background-color: #cccccc;
}

.course-detail-kotak .isi-konten {
	font-family: "Open Sans", sans-serif;
	font-weight: Bold;
	text-align: left;
	margin-left: 20px;
	word-wrap: break-word;
}
.course-detail-kotak .termasuk {
	font-size: 25px;
}

.course-list-materi {
	background-color: #E8E8E8;
	width: 620px;
	margin: 0px 30px;
	border-radius: 8px;
	display: inline-block;
}
.course-list-materi .konten {
	padding: 10px 20px;
	text-align: left;
}
.course-list-materi .konten .yang-akan {
	font-size: 20px;
	font-family: "Fira Sans", sans-serif;
	font-weight: 900;
	padding-bottom: 10px;
}
.course-list-materi .konten .list-konten {
	font-weight: 500;
}

.course-detail-komponen {
	display: inline-block;
	margin-left: -350px;
	margin-top: 30px;
}