

body {
    font-family: 'Open Sans', sans-serif;
  }
  
  .video {
      position: fixed;
  }
  .overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0, 0.9);
    overflow-x: hidden;
    transition: 0.5s;
  }
  
  
  .overlaykanan {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0, 0.9);
    overflow-x: hidden;
    transition: 0.5s;
  }
  
  .overlay-content {
    position: relative;
    width: 100%;
    text-align: center;
  }
  
  .overlay-content .judul{
    font-size: 30px;
  }
  
  .overlaykanan-content {
    position: relative;
    width: 100%;
    text-align: center;
    margin-top: 30px;
  }

  .overlaykanan .overlaykanan-content {
    float: right;
  }

  .overlaykanan input[type=text] {
    padding: 4px;
    font-size: 17px;
    border: none;
  }

  .overlaykanan .overlaykanan-content button {
    padding: 6px 10px;
    margin-top: 8px;
    margin-right: 16px;
    background: #ddd;
    font-size: 17px;
    border: none;
    cursor: pointer;
  }

  .overlaykanan .overlaykanan-content button:hover {
    background: #ccc;
  }
  
  .overlay a {
    padding: 5px;
    text-decoration: none;
    font-size: 18px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  .overlaykanan a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  .overlay a:hover, .overlay a:focus {
    color: #f1f1f1;
  }
  
  .overlaykanan a:hover, .overlaykanan a:focus {
    color: #f1f1f1;
  }
  
  .overlay .closebtn {
    text-align: center;
    right: 45px;
    font-size: 60px;
  }
  
  .overlaykanan .closebtnkanan {
    text-align: center;
    right: 45px;
    font-size: 60px;
  }
  
  @media screen and (max-height: 450px) {
    .overlay a {font-size: 20px}
    .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
    }
  }
  
  @media screen and (max-height: 450px) {
    .overlaykanan a {font-size: 20px}
    .overlaykanan .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
    }
  }
  
  